[submodule "dot_vim/bundle/vim-airline"]
	path = dot_vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dot_vim/bundle/vim-gitgutter"]
	path = dot_vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dot_vim/bundle/syntastic"]
	path = dot_vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
